.forms{
    text-align: center;
    padding: 0px 50px;
    margin-top: 50px;
}
.form-horizontal{
    border: 1px solid #80808029;
    background-color: #f5f5f573;
    padding: 30px;
    border-radius: 3px;
}
tbody td{
    font-size: 15px;

}
th {
    background-color: #252525;
}
thead th{
    color: #fff;
}
.buton_align{
    text-align: center;
}
thead th{
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
.default_button{
    padding: 4px 12px;
    margin-bottom: 5px;
}