<div class="row">
    <div class="forms">
           <form class="form-horizontal">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>S.no</th>
                            <th>Agent</th>
                            <th>Applicant</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Doe</td>
                            <td>Smith</td>
                            <td>12/2/2019</td>
                            <td class="buton_align"><button type="button" class="btn btn-default default_button" (click)="onpendingClick()"><a routerLink="setschedule">Schedule</a></button><br>
                            </td>
                          </tr>
                          <tr>
                                <td>2</td>
                                <td>Smith</td>
                                <td>Joe</td>
                                <td>12/2/2019</td>
                               <td class="buton_align"><button type="button" class="btn btn-default default_button" (click)="onpendingClick()"><a routerLink="setschedule">Schedule</a></button><br>
                            </td>
                                  
                          </tr>
                        </tbody>
                 </table>   
           </form>
           </div>
    </div>