.forms{
    text-align: center;
    padding: 0px 100px;
    margin-top: 50px;
}
.control-label{
    font-size: 15px;
    font-weight: 500;
}
.form-horizontal{
    border: 1px solid #80808029;
    background-color: #f5f5f573;
    padding: 30px;
    border-radius: 3px;
}
.form-width{
    width: 50%;
    border-bottom: 1ps solid #333;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
}
.input-group{
    padding-bottom: 12px;
}
.edit-button{
    border-radius: 0px;
    background: #000;
    border-color: #000;
    margin-top: 15px;
}
.edit-button a{
    color: #fff;
}
.edit-button a:hover{
    text-decoration: none;
    color: whitesmoke;
}
.modal-dialog {
    margin-top: 200px;
    width: 400px;
  }
.modal-body {
    padding: 35px 15px;
    background-color: #e2220f17;
  }
.modal-header {
    padding: 10px;
    border-bottom: none;
    background-color: #e2220f17;
    border-radius: 4px 4px 0px 0px;
}
.modal-footer{
    border-top: none;
    background-color: #e2220f17;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.modal-body h3{
    color: red;
    font-size: 22px;
}
.ok_button{
    border-radius: 3px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #33333361;
}
.ok_button:hover{
    background-color: red;
    color: #fff;
} 