<ul class="sidebar-nav" id="sidebar">     
       <li><a routerLink="dashboard"><span class="sub_icon fa fa-home"></span>Dashboard</a></li>
       <li><a routerLink="applicant"><span class="sub_icon fa fa-user-md"></span>All Applicant</a></li>
       <li><a routerLink="scheduled"><span class="sub_icon fa fa-file-text-o"></span>Scheduled</a></li>
       <li><a routerLink="pending"><span class="sub_icon fa fa-edit"></span>Pending Applicants</a></li>
       <li><a routerLink="finalapplicants"><span class="sub_icon fa fa-user-md"></span>Final Applicants</a></li>
       <li><a routerLink="failedapplicants"><span class="sub_icon fa fa-file-text-o"></span>Failed Applicants</a></li>
     </ul>
<ul class="blank-space sidebar-nav">
</ul>