<ul class="sidebar-nav" id="sidebar">     
       <li><a routerLink="home"><span class="sub_icon fa fa-home"></span>Dashboard</a></li>
       <li><a routerLink="applicantlist"><span class="sub_icon fa fa-user-md"></span>All Applicant</a></li>
       <li><a routerLink="scheduled"><span class="sub_icon fa fa-file-text-o"></span>Scheduled</a></li>
       <li><a routerLink="pending"><span class="sub_icon fa fa-edit"></span>Pending Applicants</a></li>
       <li><a routerLink="final"><span class="sub_icon fa fa-user-md"></span>Final Applicants</a></li>
       <li><a routerLink="failed"><span class="sub_icon fa fa-file-text-o"></span>Failed Applicants</a></li>
     </ul>
<ul class="blank-space sidebar-nav">
</ul>