.header {
    background-color: #f1f1f1;
    padding: 20px 0px;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
  }