<div class="header">
  <div class="header-right">
 
    <nav class="navbar navbar-inverse">
      <div class="">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FPS</a>
        </div>
        
        <form class="navbar-form navbar-left" style="margin-left:492px;" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
          <button type="submit" class="btn btn-default ">Search</button>
        </form>
        <ul class="nav navbar-nav logout">
          <li><a routerLink = "../login">Logout</a></li>
        </ul>

      </div>
    </nav>
 
  </div>
 </div>